<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SENDTO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher4"
        android:label="@string/nombre_app"
        android:roundIcon="@mipmap/ic_launcher4_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ProyectoFixitFinal.Fixit"
        tools:targetApi="31">

        <!-- Specialist Activities -->
        <activity
            android:name=".Specialist.ServicesRequest"
            android:exported="true" />
        <activity
            android:name=".Specialist.ChangePasswordSpecialist"
            android:exported="false" />
        <activity
            android:name=".Specialist.RegisterSpecialist"
            android:exported="true" />
        <activity
            android:name=".Specialist.CreateServicesSpecialist"
            android:exported="true" />
        <activity
            android:name=".Specialist.ProfileSpecialist"
            android:exported="true" />
        <activity
            android:name=".Specialist.ViewSpecialistServices"
            android:exported="true" />
        <activity
            android:name=".Specialist.ViewSpecialistDetailService"
            android:exported="true" />
        <activity
            android:name=".Specialist.ViewSpecialistComments"
            android:exported="true" />
        <activity
            android:name=".Specialist.ViewSpecialistsByCategory"
            android:exported="true" />
        <activity
            android:name=".Specialist.DetailServiceClient"
            android:exported="true" />

        <!-- Client Activities -->
        <activity
            android:name=".Client.PersonalProfileSpecialist"
            android:exported="true" />
        <activity
            android:name=".Client.ServicesHistory"
            android:exported="true" />
        <activity
            android:name=".Client.ChangePasswordClient"
            android:exported="false" />
        <activity
            android:name=".Client.RegisterClient"
            android:exported="true" />
        <activity
            android:name=".Client.ProfileClient"
            android:exported="true" />
        <activity
            android:name=".Client.AddComments"
            android:exported="false" />
        <activity
            android:name=".Client.ClientsComments"
            android:exported="false" />

        <!-- Admin Activities -->
        <activity
            android:name=".Admin.MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ViewClientsAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ProfileClientAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ViewSpecialistsAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ProfileSpecialistAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ViewSpecialistServicesAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ViewSpecialistDetailServiceAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ViewCommentsServiceAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.RequestsAdmin"
            android:exported="false" />
        <activity android:name=".Admin.SolicitudeServices"
            android:exported="false" />

        <!-- General Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavBarClient"
            android:exported="false" />
        <activity
            android:name=".NavBar"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SelectUser"
            android:exported="true" />
    </application>

</manifest>