<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SENDTO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher4"
        android:label="@string/nombre_app"
        android:roundIcon="@mipmap/ic_launcher4_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ProyectoFixitFinal.Fixit"
        tools:targetApi="31">
        <!-- Specialist Activities -->
        <activity
            android:name=".Specialist.SpecialistServicesRequest"
            android:exported="true" />
        <activity
            android:name=".Specialist.SpecialistChangePassword"
            android:exported="false" />
        <activity
            android:name=".Specialist.SpecialistRegister"
            android:exported="true" />
        <activity
            android:name=".Specialist.SpecialistCreateServices"
            android:exported="true" />
        <activity
            android:name=".Specialist.SpecialistProfile"
            android:exported="true" />
        <activity
            android:name=".Specialist.SpecialistServices"
            android:exported="true" />
        <activity
            android:name=".Specialist.SpecialistDetailService"
            android:exported="true" />
        <activity
            android:name=".Specialist.SpecialistClientsComments"
            android:exported="true" />
        <activity
            android:name=".Specialist.ClientSpecialistsByCategory"
            android:exported="true" />
        <activity
            android:name=".Specialist.ClientDetailService"
            android:exported="true" /> <!-- Client Activities -->
        <activity
            android:name=".Client.ClientProfileSpecialist"
            android:exported="true" />
        <activity
            android:name=".Client.ClientServicesHistory"
            android:exported="true" />
        <activity
            android:name=".Client.ClientChangePassword"
            android:exported="false" />
        <activity
            android:name=".Client.ClientRegister"
            android:exported="true" />
        <activity
            android:name=".Client.ClientProfile"
            android:exported="true" />
        <activity
            android:name=".Client.ClientAddComments"
            android:exported="false" />
        <activity
            android:name=".Client.ClientComments"
            android:exported="false" /> <!-- Admin Activities -->
        <activity
            android:name=".Admin.AdminMenu"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminListClients"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminProfileClient"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminListSpecialists"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminProfileSpecialist"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminSpecialistServices"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminSpecialistDetailService"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminCommentsService"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminSolicitudeServices"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAuthSpecialistProfile"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAuthSpecialist"
            android:exported="false" /> <!-- General Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavBarClient"
            android:exported="false" />
        <activity
            android:name=".NavBarSpecialist"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
    </application>

</manifest>